[submodule "baddil-broker-app"]
	path = baddil-broker-app
	url = https://github.com/IbrahimItani01/baddil-broker-app.git
[submodule "baddil-server"]
	path = baddil-server
	url = https://github.com/IbrahimItani01/baddil-server.git
[submodule "baddil-admin-app"]
	path = baddil-admin-app
	url = https://github.com/IbrahimItani01/baddil-admin-app.git
[submodule "baddil-barterer-app"]
	path = baddil-barterer-app
	url = https://github.com/IbrahimItani01/baddil-barterer-app.git
